.form {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-right: 300px;
}

.form__item input {
    border-radius: 4px;
    background: rgb(255, 255, 255);
    padding: 15px 20px;
    color: #000000;
    min-width: 310px;
}

.form__button input {
    min-width: 310px;
    border-radius: 4px;
    background: rgb(16, 46, 48);
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form__button input:hover {
    background-color: #2F616D;
}

@media (max-width: 767px) {

    .form__button,
    .form__item {
        width: 100%;
    }

    .form__button input,
    .form__item input {
        width: 100%;
        min-width: 100%;
    }

    .form {
        padding-right: 0;
    }
}