/* Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Импорт кастомных стилей для компонентов */
@import './block/button.css';
@import './block/menu-button.css';
@import './block/menu.css';
@import './block/swiper.css';
@import './block/sliders.css';
@import './block/decor.css';
@import './block/scrool-top.css';
@import './block/hero.css';
@import './block/catalog.css';
@import './block/form.css';
@import './block/cooperation.css';
@import './block/form-section.css';
@import './block/popup.css';
@import './block/new-style.css';


/* Импорт TailWind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Зарегистрируйте пользовательское семейство шрифтов и сообщите браузеру, где его найти. */
@font-face {
    font-family: 'archangelsk';
    src: url('../src/fonts/archangelsk.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../src/fonts/BebasNeue-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../src/fonts/BebasNeue-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../src/fonts/BebasNeue-Light.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../src/fonts/BebasNeue-Book.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Manrope', sans-serif;
        color: #000000;
    }
}

@layer components {
    .container {
        @apply max-w-[1440px]
    }
}

/* Директивы классов */
.nav-link {
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s ease;
    background-color: rgb(30, 30, 30);
}

.nav-link:hover::before {
    width: 100%;
}

.about {
    padding: 90px 0;
}

.about__wrapper {
    background-image: url('../src/img/about-bg.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

@media (max-width: 767px) {
    .about {
        padding: 40px 0;
    }

    .about__wrapper {
        background-image: none;
    }
}

/* Прочие классы */

.lock {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.box-shadow-1 {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}